.major-card {
	.major-card-icon {
		padding: 50px;
		background-color: #eef2ff;
		img {
			width: 40px;
			height: 40px;
		}
	}
	.major-card-title {
		font-size: 30px;
		margin-top: 30px;
		color: #374151;
	}

	.major-card-description {
		margin-top: 20px;
		font-size: 18px;
		color: #9ca3af;
	}
}
