// Global
$defaultFontFamily: 'Inter', sans-serif;

// Divider
$spaceSize: 20px;

// A component
$btnColorBase: #3730a3;
$btnTextColorDefault: #6b7280;
$btnTextSize: 18px;
$btnPaddingTopBottom: 14px;
$btnPaddingLeftRight: 20px;
$btnBorderRadius: 5px;
$btnFontWeight: 600;

// Logo component
$logoTextColor: #7b61ff;
$logoBackgroundColor: #eeebff;
$logoFontSize: 24px;
$logoWidth: 62px;
$logoHeight: 62px;
$logoRadius: 100%;
$logoFontWeight: 900;

// Header
$headerMarginTopBottom: 15px;
$headerMarginLink: 100px;

// Basic Information
$basicInfoNameTextColor: #4338ca;
