.customers {
	padding: 80px 0;
	background-color: #fef2f2;
	.customers-title {
		color: #9ca3af;
		font-size: 20px;
		font-family: $defaultFontFamily;
	}
	.customers-trusted-by {
		margin-top: 20px;
		ul {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
		}
	}
}
